/* 通用样式开始 */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a{
    color:#666;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


textarea {
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    border: none;
    outline: none; /* 移除焦点时的轮廓 */
    /* background-color: transparent; 设置透明背景 */
    background-color: #fff;
    font-family: inherit; /* 继承字体样式 */
    font-size: inherit; /* 继承字体大小 */
    color: inherit; /* 继承字体颜色 */
    resize: none; /* 防止用户调整大小 */
}



.container{
    /* background-color:  rgb(239, 238, 238); */
    background-color: #fff;
    height: 100vh;
}

/* 修改container的最大宽度为1280 根据设计稿的要求 */
@media screen and (min-width:768px){
    .container,
    .top-container,
    .bottom-nav-container{
        width: 720px;
        margin: 0 auto;
    }

}


/* 通用样式结束 */



/* 顶部标题栏开始 */


.top-container{
    background-color: #3262f4;
    height: 12vh;
    line-height: 12vh;


}

.top-container .title{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    
}


/* 顶部标题栏结束 */


/* 用户输入栏开始 */

.content-container{
    margin-top: 2vh;
}


.content-container .msg-container{
    background-color: rgb(239, 238, 238);
    min-height: 30vh;
    width: 90%;
    margin: 0% auto;
    border-radius: 5px;
    padding-top: 1vh;
    position: relative;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

.content-container .msg-container .orderId{
    position: absolute;
    left: 5%;
    top: 1.5vh;
    color: red ;
}

/* 顶部 */
.top-part{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

/* 司机名 */
.content-container .msg-container .driver-name{
    padding-left: 5%;
    flex: 1;
}

.content-container .msg-container .driver-name .title{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.content-container .msg-container .driver-name .text{
    font-size: 1em;
    color: #666;
    padding-bottom: 1vh;
    border-bottom: 1px dashed #000;
    width: 80%;

}

/* 司机手机号 */
.top-part .driver-phone{
    flex: 1;
    padding-left: 5%;
}

.top-part .driver-phone .title{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.top-part .driver-phone .text{
    font-size: 1em;
    color: #666;
    padding-bottom: 1vh;
    border-bottom: 1px dashed #000;
    width: 80%;
}

/* 中部 */
.middle-part {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}


/* 订单创建时间 */
.middle-part .createdTime{
    flex: 1;
    padding-left: 5%;
    max-width: 100%; /* 限制最大宽度 */
    box-sizing: border-box;
}

.middle-part .createdTime .title{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.middle-part .createdTime .text{
    font-size: 1em;
    color: #666;
    padding-bottom: 1vh;
    border-bottom: 1px dashed #000;
    width: 80%;
    word-wrap: break-word; /* 允许长单词或URL在边界内断行 */
    white-space: normal; /* 文本会换行 */
}


.middle-part .updatedTime{
    flex: 1;
    padding-left: 5%;
    max-width: 100%; /* 限制最大宽度 */
    box-sizing: border-box;
}

.middle-part .updatedTime .title{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.middle-part .updatedTime .text{
    font-size: 1em;
    color: #666;
    padding-bottom: 1vh;
    border-bottom: 1px dashed #000;
    width: 80%;
    word-wrap: break-word; /* 允许长单词或URL在边界内断行 */
    white-space: normal; /* 文本会换行 */
   
}

/* 底部栏开始 */

.bottom-part{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

/* 载货量 */
.bottom-part .stock{
    flex: 1;
    padding-left: 5%;
}

.bottom-part .stock .title{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.bottom-part .stock .text{
    font-size: 1em;
    color: #666;
    padding-bottom: 1vh;
    border-bottom: 1px dashed #000;
    width: 80%;
}

/* 订单状态 */
.bottom-part .state{
    flex: 1;
    padding-left: 5%;
}

.bottom-part .state .title{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.bottom-part .state .text{
    font-size: 1em;
    color: #666;
    padding-bottom: 1vh;
    border-bottom: 1px dashed #000;
    width: 80%;
}


/* 用户输入栏结束 */