@import "//at.alicdn.com/t/c/font_4342566_26gga0fncd3.css";

/* 通用样式开始 */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a{
    color:#666;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container{
    background-color: #fff;
    height: 2000vh;
}

/* 修改container的最大宽度为1280 根据设计稿的要求 */
@media screen and (min-width:768px){
    .container,
    .top-container,
    .bottom-nav-container{
        width: 720px;
        margin: 0 auto;
    }

}






/* @media screen and (max-width:540px){
    .container,
    .bottom-nav-container{
        width: 540px;
        margin: 0 auto;
    }

} */


/* 通用样式结束 */



/* 顶部标题栏开始 */

.top-container{
    background-color: #3262f4;
    height: 12vh;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 去除固定定位 */
    line-height: 12vh;


}

.top-container .title{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    
}

.top-container .logo{
    position: absolute;
    right: 5%;
    top: 0;
    font-size: 1.5em;
    color: #fff;
}



/* 顶部标题栏结束 */




/* 搜索栏开始 */

.search-items{
    
    display: flex;
    height: 10vh;
    align-items: center;
    position: relative;
    
}

.search-items .logo{
    position: absolute;
    left: 8%;
    top: 4vh;
    font-size: 0.8em;
    color: #666;

}
.search-items .search-text{
    flex: 3;
    background-color: #eee;
    color: #666;
    padding-left: 10%;
    margin: 0 5%;
    height: 5vh;
    box-sizing: border-box;
    font-size: 0.8em;
    border-radius: 5px;
}

.search-items button{
    flex: 1;
    background-color: #3262f4;
    height: 5vh;
    border-radius: 5px;
    color: #fff;
    margin-right: 5%;
}


/* 搜索栏结束 */



/* 顶部导航标题框开始 */
.nav-container{
    display: flex;
    justify-content: space-around;
    height:5vh;
    
    align-items: center;
}
.nav-container .nav-function{
    
}

.nav-container .nav-function.active{
    color: #3262f4;
    
    font-weight: bold;
    
}



/* 顶部导航标题框结束 */


/* 底部导航栏开始 */


.bottom-nav-container{
    display: flex;
    background-color: #fff;
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.bottom-nav-container .nav-items{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9b9b9b;
    
    
}

.bottom-nav-container .nav-items.active{
    color: #3262f4;
}

.bottom-nav-container .nav-items .logo{
    flex: 1;
    font-size:1.5em;
}

.bottom-nav-container .nav-items .text{
    flex: 1;
    font-size: 1em;
    font-weight: bold;
}



/* 底部导航栏结束 */
