<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.infrastructure.dao.IAuthenticationDao">
    <resultMap id="AuthenticationMap" type="com.yang.infrastructure.po.Authentication">
        <id column="id" property="id"/>
        <result column="authentication_id" property="authenticationId"/>
        <result column="driver_id" property="driverId"/>
        <result column="authentication_status" property="authenticationStatus"/>
        <result column="id_card_number" property="idCardNumber"/>
        <result column="id_card_valid_from" property="idCardValidFrom"/>
        <result column="id_card_valid_to" property="idCardValidTo"/>
        <result column="driver_license" property="driverLicense"/>
        <result column="driver_license_valid_to" property="driverLicenseValidTo"/>
        <result column="qualification_certificate" property="qualificationCertificate"/>
    </resultMap>
    <insert id="insert" parameterType="com.yang.infrastructure.po.Authentication">
        INSERT INTO authentication
        (authentication_id,driver_id,authentication_status,id_card_number,
        id_card_valid_from,id_card_valid_to,driver_license,driver_license_valid_to,qualification_certificate)
        VALUES
        (#{authenticationId},#{driverId},#{authenticationStatus},#{idCardNumber},#{idCardValidFrom},#{idCardValidTo},
         #{driverLicense},#{driverLicenseValidTo},#{qualificationCertificate})
    </insert>
    <select id="queryById" resultType="com.yang.infrastructure.po.Authentication" resultMap="AuthenticationMap">
        SELECT authentication_id,driver_id,authentication_status,id_card_number,
               id_card_valid_from,id_card_valid_to,driver_license,driver_license_valid_to,qualification_certificate
        FROM authentication
        WHERE driver_id = #{driverId}
    </select>
</mapper>