
/* 通用样式开始 */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a{
    color:#666;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container{
    background-color: lightgray;
    /* height: 1000vh; */
    
}

/* 修改container的最大宽度为1280 根据设计稿的要求 */
@media screen and (min-width:768px){
    .container,
    .top-container,
    .bottom-nav-container{
        width: 720px;
        margin: 0 auto;
    }

    
}


/* @media screen and (max-width:540px){
    .container,
    .top-container,
    .bottom-nav-container{
        width: 540px;
        margin: 0 auto;
    }

} */


/* 通用样式结束 */


/* 顶部标题栏开始 */
.top-container{
    background-color: #3262f4;
    height: 18vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 确保它位于其他内容之上 */
    
}


/* 搜索栏开始 */

.top-container .search-items{
    width: 90%;
    margin: 0 auto;
    padding-top: 6vh;
    
}

.top-container .search-items .text{
    
    flex-basis: 70%;
    position: relative;
    margin: 0 auto;
    

}

.top-container .search-items .text .search-logo{
    position: absolute;
    left: 5%;
    bottom: 2.5vh;
    font-size: 1.3em;
    
}

.top-container .search-items .text input{
    width: 90%;
    border-radius: 4px;
    height: 7vh;
    padding-left: 15%;
    box-sizing: border-box;
}





/* 搜索栏结束 */


/* 导航标题栏开始 */
/* .nav-items {
    
    width: 90%;
    height: 5vh;
    margin: 0 auto;
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    line-height: 5vh;
}

.nav-items .nav-title{
    font-weight: bold;
    color: #c3c2c2;

    font-size: 1.3em;

}



.nav-items .nav-title.active{
    color: #f7fcff;
} */


/* 导航标题栏结束 */

/* 列表栏开始 */


.list-items{
    width: 100%;
    background-color: #fff;
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    line-height: 4vh;
    margin-top: 5vh;
}


.list-items .list-title,
.list-items .select-title{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}
.list-items .list-title{
    flex: 2;
}


.list-items .list-title .text,
.list-items .select-title .text{
    margin-right: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 列表栏结束 */

/* 条件弹出开始 */


.condition-list{
    /* 控制条列列表显示 */
    display:none;
    background-color: #fff;
}


.condition-list li{
    color: #696868;
    padding: 1.5vh;
    border-bottom: 1px solid #9b9b9b;
    font-size: 0.8em;
    padding-left: 7%;
}

.condition-list li.active{
    color: #3262f4;
}



/* 条件弹出结束 */


/* 顶部标题栏结束 */





/* 在 .top-container 下方的第一个元素上添加顶部边距 */
.content-container{
    margin-top: 25vh; 
}



/* 内容栏开始 */
.content-container{
    margin-bottom: 10vh;
}


.content-container .information-container{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1vh;
    
    /* height: 30vh; */
    border-radius: 10px;
    position: relative;
    
}

/* 地址信息 */

.information-container .address{
    box-sizing: border-box;
    padding-top: 1vh;
    width: 80%;
    height: 12vh;
    position: relative;
   
}


.information-container .address i{
    position: absolute;
    
}

.information-container .address .icon-xiangshang{
    color: green;
    top: 8%;
    left: 5%;
}

.information-container .address .icon-xiangxia{
    color: red;
    top: 62%;
    left: 5%;
}

.information-container .address .text_start,
.information-container .address .text_end{
    /* color: black;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    flex: 1;
    box-sizing: border-box;
    margin-left: 10%; */
    color: black;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 80%;
    height: 5vh;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    margin-left: 15%;
    
   
}

.information-container .address .text_start{
    margin-bottom: 1vh;
}






.information-container .address span:nth-child(1){
    padding-top: 1vh;
    margin-bottom: 1vh;
}

/* 货物信息 */
.information-container .goods{
    
    background-color: #d5edf5;
    height: 10vh;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 1vh;
    
}

.information-container .goods .date{
    padding-left: 5%;
    padding-top: 0.5vh;
    color: #696868;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}


.information-container .goods .date .date_text{
    display: inline;
}
.information-container .goods .goods-kind{
    padding-left: 5%;
    padding-top: 2vh;
    color: #696868;
    font-weight: bold;
    width: 95%;
}

.information-container .goods .goods-kind .goods-info{
    display: inline;
}

.information-container .goods .goods-kind .goods-info .kind,
.information-container .goods .goods-kind .goods-info .price{


    display: inline-block;
    border: 1.5px solid #3262f4;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    color: #3262f4;
    width: 45%;
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 显示省略号 */
   
}

/* 距离信息 */

.information-container .distance{
    
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5vh;
    height: 3vh;
    line-height: 3vh;
}

.information-container .distance .iconfont{
    font-size: 1em;
    font-weight: bold;
}
.information-container .distance .distance-info{
    height: 3vh;
    line-height: 3vh;
    display: inline;
    font-size: 1em;
    
}

/* 接单链接 */
.information-container .accept-bill{
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1.2em;
    color: red;
    border: 2px solid #3262f4;
    border-radius: 5px;
    padding: 1%;
}


/* 司机ID和货物ID */

.information-container .id-Info{
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: pink;
    display: none;
}




/* 内容栏结束 */



/* 底部导航栏开始 */



.bottom-nav-container{
    display: flex;
    background-color: #fff;
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
   
    
    
}

.bottom-nav-container .nav-items{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9b9b9b;
}

.bottom-nav-container .nav-items.active{
    color: #3262f4;
}

.bottom-nav-container .nav-items .logo{
    flex: 1;
    font-size:1.5em;
    
}

.bottom-nav-container .nav-items .text{
    flex: 1;
    font-size: 1em;
    font-weight: bold;
}






/* 底部导航栏结束 */
